<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Kalkulator SUS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>System Usability Scale (SUS)</h1>

    <% if (error) { %>
        <div class="error"><%= error %></div>
    <% } %>

    <div class="card nickname-box">
        <h2>Wprowadź swój pseudonim, aby rozpocząć</h2>
        <form method="POST" action="/start">
            <input type="text" name="nickname" placeholder="Wpisz pseudonim" required autofocus>
            <button type="submit" class="start-btn">Rozpocznij Ankietę</button>
        </form>
        <a href="/results" class="simple-button">Zobacz wszystkie wyniki</a>
    </div>

    <footer>
        Ankieta SUS została stworzona przez Mateusza Pielaka na potrzeby projektu gry Mahjong.
    </footer>
</body>
</html>